{% load static %}
<!DOCTYPE html>
<html lang="es"> 
<head>
    <meta charset="UTF-8">
    <title>{% block title %}VitaVerde{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/baseStyles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body class="contenido">
    <header>
        <nav id="barraNav">
            <img id="logo" src="{% static 'img/saveFreepik.png' %}">
            {% block tags%}{%endblock%}
        </nav>
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>
